apiVersion: v1
kind: Service
metadata:
  name: config-server-service

spec:

  selector:
    app: config-server

  ports:
    - protocol: "TCP"
      port: 9090
      targetPort: 9090

  type: LoadBalancer